.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatbot-container {
  display: flex;
  height: 100vh; /* Set the container height to 100vh */
}

.side-menu h2 {
  text-align: center;
}

.side-menu {
  width: 30vh;
  background-color: #343540;
  padding: 0px;
  height: 100vh; /* Set the height to 100vh */
  overflow-y: hidden; /* Disable scrolling within SideMenu */
  color: white;
}

.chat-window {
  /* padding-top: 5vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1; /* Take up remaining space */
  overflow-x: hidden;
  background-color: #272729; /* Default background color */
  width: 100vh;
}

.chat-window.bot-response {
  background-color: #444653; /* Background color for bot response */
}

.loadedHistoryChat {
  background-color: #3F3351;
}

.history-user-query {
  background-color: #313133;
}

.history-bot-response {
  
}

.chatbot-messages {
  padding-top: 5vh;
  flex-grow: 1;
  width: 100%;
  background-color: #313133;
  overflow-y: auto;
  color: white;
  font-size: 20px;
}

.chatbot-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #272729;
}

.chatbot-form input[type="text"] {
  width: 100vh;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  background-color: #454654;
  color: white;
}

/* Rest of your custom styles */
